@model BookDetails.ViewModels.AuthorInsertModel
@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between text-white bg-secondary p-1 mb-2 ">
            <h4 class="mt-1 ms-2 ">Create Book</h4>
            <div>
                <a asp-controller="Books" asp-action="Index" class="btn  btn-sm bg-light p-2">List</a>
            </div>
        </div>

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mb-1">
                <div class="col-2 offset-2">
                    @Html.LabelFor(x => x.Book, new { @class = "col-form-label col-2" })
                </div>

                <div class="col-5">
                    @Html.DropDownListFor(x => x.BookId, new SelectList(ViewBag.books, "BookId", "Title"), "Select one", new { @class = "form-select" })
                    @Html.ValidationMessageFor(x => x.BookId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="AuthorName" class="control-label"></label>
                </div>
                
                <div class="col-5">
                    <input asp-for="AuthorName" class="form-control" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="BirthDate" class="control-label"></label>
                </div>
                
                <div class="col-5">
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="WebsiteUrl" class="control-label"></label>
                </div>
                
                <div class="col-5">
                    <input asp-for="WebsiteUrl" class="form-control" />
                    <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="Phone" class="control-label"></label>
                </div>
                
                <div class="col-5">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                
                <div class="col-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="Picture" class="control-label"></label>
                </div>

                <div class="col-5 ">
                    @Html.TextBoxFor(x => x.Picture, new { @class = "form-control", @type="file" })
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="justify-content-end offset-2">
                <button type="submit" class="btn btn-primary btn-sm text-end">Save</button>
            </div>
        </form>
    </div>
</div>