@model BookDetails.Models.Order
@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between text-white bg-secondary p-1 mb-2 ">
            <h4 class="mt-1 ms-2 ">Edit Order</h4>
            <div>
                <a asp-controller="Orders" asp-action="Index" class="btn  btn-sm bg-light p-2">List</a>
            </div>
        </div>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(o=>o.OrderId)
            <div class="form-group row mb-1">
                <div class="col-2 offset-2">
                    @Html.LabelFor(x => x.Book, new { @class = "col-form-label col-2" })
                </div>

                <div class="col-5">
                    @Html.DropDownListFor(x => x.BookId, new SelectList(ViewBag.books, "BookId", "Title"), "Select one", new { @class = "form-select" })
                    @Html.ValidationMessageFor(x => x.BookId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="CustomerName" class="control-label"></label>
                </div>

                <div class="col-5">
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="OrderDate" class="control-label"></label>
                </div>

                <div class="col-5">
                    <input asp-for="OrderDate" type="date" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="Quantity" class="control-label"></label>
                </div>

                <div class="col-5">
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2 offset-2">
                    <label asp-for="Discount" class="control-label"></label>
                </div>

                <div class="col-5">
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
            </div>

            <div class="justify-content-end offset-2">
                <button type="submit" class="btn btn-primary btn-sm text-end">Save</button>
            </div>
        </form>
    </div>
</div>